/* ------------- FONTS ------------- */ 
@font-face {
  font-family: 'test';
  src: url('test.woff') format('woff');
}

/* ------------- STARTER ------------- */ 

*{
  margin:0;
  padding:0;
}

body {
	/*
    background-color: #252934;
	color: white;
    */
    background-image: url('background.jpg');
    backdrop-filter: blur(8px);
}

/* ------------- TRANSITIONS AND SHADOWS ------------- */

a, a:visited, a:hover {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.container form {
	-webkit-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 15px -5px rgba(0,0,0,0.25);
}

/* ------------- CONTAINER STYLING ------------- */ 

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

/* ------------- TIME STYLING ------------- */ 

.container .time {
	font-family: 'test';
	font-size: 70px;
    color: rgba(216, 222, 233, 0.8);
	margin-bottom: 30px;
}

/* ------------- DATE STYLING ------------- */ 

.container .date {
	font-family: 'test';
	font-size: 50px;
    color: rgba(216, 222, 233, 0.8);
	margin-bottom: 30px;
}

/* ------------- SEARCH STYLING ------------- */ 

.container form {
	background-color: rgba(216, 222, 233, 0.2);
	border-radius: 5px;
	width: 550px;
    height: 50px;
	margin-bottom: 80px;
}

.container form .search-field, .container form .search-submit {
	background: none;
	outline: none;
	border: none;
	line-height: 50px;
	position: relative;
    text-align: center;
}

.container form .search-field {
	width: 89%;
	color: rgba(216, 222, 233, 0.8);
	font-size: 35px;
	font-family: 'test';
	bottom: -1px;
}

.container form .search-submit {
	width: 10%;
	top: 5px;
}

.container form .search-submit:hover {
	cursor: pointer;
}

.container form .search-submit::before {
	background-size: 100% 100% !important;
	background-image:url(search.svg);
	background-position:center center;
	fill: white;
	content:"";
	width:23px;
	height:23px;
	position:absolute;
	right:15px;
	bottom: -3px;
}

